.activity-container {
    margin-top: 3rem;
    text-align: start;
    padding-top: 1rem;
}

.activity-dashboard {
    background-color: black;
    color: whitesmoke;
}

.activity-section-header {
    margin: 0% 5%;
    margin-bottom: 1rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.activity-section-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.activity-section-all-button {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: transparent;
    color: lightgrey;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
}

.activity-section-all-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.activity-item-container {
    margin: 0% 5%;
    background-color: #2a2a2a;
    border-radius: 0.375rem;
    padding: 1rem;
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
}

.activity-preview-content {
    display: flex;
    align-items: center;
}

.activity-project-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.activity-preview-details {
    flex-grow: 1;
}

.activity-preview-title {
    display: flex;
    align-items: center;
}

.activity-recent-text,
.activity-link-icon {
    color: #a0a0a0;
}

.activity-link-icon {
    margin-left: 0.5rem;
}
