
.import-container{
    margin: 2rem 10%;
    padding: 1rem ;
    background-color: #0a0a0a;
    border: dashed 2px #3a3a3a ;
    border-radius: 0.3rem;
    color: lightslategray;
}

.import-container:hover{
    cursor: pointer ;
}

.selected-file{
    margin-top: 2rem;
    color: whitesmoke ;

}

.template-container{
    margin: 2rem 10%;
    padding: 1rem ;
    background-color: #0a0a0a;
    border: thin solid #3a3a3a;
    border-radius: 0.3rem;
    color: whitesmoke;
}