.App {
    text-align: center;
    font-family: monospace;
}

.container {
    margin-top: 3rem;
    align-items: center;
    padding-top: 1rem;
}

.dashboard {
    background-color: black;
    color: whitesmoke;
}

.relative {
    position: relative;
}