.App {
    text-align: center;
    font-family: monospace;
}

.container {
    margin-top: 4rem;
    align-items: center;
    padding-top: 1rem;
}

.dashboard {
    background-color: black;
    color: whitesmoke;
}

.section-header {
    margin: 0% 10%;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.section-title {
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    color : whitesmoke;
}

.section-subtitle {
    font-size: 1rem;
    display: flex;
    color: lightslategray;
}

.relative {
    position: relative;
}

.project-name {
    font-weight: 600;
    margin-right: 0.5rem;
}

.recent-text,
.link-icon {
    color: #a0a0a0;
}

.project-subtitle{
    color: #a0a0a0;
    text-align: start;
}


.preview-item {
    margin: 1rem 10%;
    background-color: #0a0a0a;
    border-radius: 0.375rem;
    padding: 1rem;
    border: thin solid;
    border-color: #3a3a3a;
    cursor : pointer;
}

.preview-content {
    display: flex;
    align-items: center;
}

.preview-details {
    flex-grow: 1;
}

.preview-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin-left: 1rem;
}

.project-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.logo-container {
    position: absolute;
    left: 1rem;
    padding: 1rem;
    margin: 0 1rem 0 auto;
    cursor: pointer;
}

.logo-image{
    color: whitesmoke;
    top: 50%;
    transform: translateY(-50%);
}